body
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    color: #fff;
    background-color: #849d8f;
}

.main-wrapper
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 26px;
}

.inner-page
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 26px;

    color: #fff;
    background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.button
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    padding: 10px 22px 12px 21px;

    cursor: pointer;
    text-align: center;
    vertical-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 50px;
    background: #f26843;
    background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:      -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
            box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.button:hover
{
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:      -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active
{
    background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:      -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: background-image .5s ease, background-color .5s ease;
         -o-transition: background-image .5s ease, background-color .5s ease;
            transition: background-image .5s ease, background-color .5s ease;

    background-image: url('../img/index/slider-item1.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after
{
    visibility: hidden;

    content: '';
}

.site-wrapper::before
{
    background-image: url('../img/index/slider-item2.png');
}

.site-wrapper::after
{
    background-image: url('../img/index/slider-item3.png');
}

.slider
{
    position: relative;

    padding-top: 218px;
    padding-bottom: 40px;

    text-align: center;

    color: #fff;
}

.slider-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide
{
    display: none;
}

.slide-title
{
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;

    width: 700px;
    margin: 0 auto;
    margin-top: 97px;
    margin-bottom: 32px;
}

.slide-button
{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;

    display: inline-block;

    padding: 6px 40px 11px 40px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 50px;
    background: #f26843;
    background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:      -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
            box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.slide-button:hover
{
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:      -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active
{
    background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:      -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 0;
    bottom: 63px;
    left: -22px;

    margin-left: 25px;
}

.slider-controls label
{
    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

#product-1:checked ~ .site-wrapper
{
    background-color: #849d8f;
    background-image: url('../img/index/slider-item1.png');
}

#product-2:checked ~ .site-wrapper
{
    background-color: #8996a6;
    background-image: url('../img/index/slider-item2.png');
}

#product-3:checked ~ .site-wrapper
{
    background-color: #9d8b84;
    background-image: url('../img/index/slider-item3.png');
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3
{
    display: block;
}

#product-1:checked ~ .site-wrapper label[for='product-1'],
#product-2:checked ~ .site-wrapper label[for='product-2'],
#product-3:checked ~ .site-wrapper label[for='product-3']
{
    background-color: #fff;
}

#product-1:checked ~ .site-wrapper label:hover
{
    border: 2px solid #fff;
    background: rgba(255, 255, 255, .2);
}

/*ХЕДЕР*/

.main-navigation
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-navigation-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.inner-page .site-navigation-container{
    margin-left: 0px;
}

.site-navigation,
.user-navigation
{
    padding: 0;

    list-style: none;
}

.site-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-left: 11px;
    padding: 0;
    padding-bottom: 5px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: baseline;
}

.site-navigation > li
{
    position: relative;

    display: inline-block;

    cursor: pointer;
}

.site-navigation > li:not(:first-child){
    margin-left:2px;
}

.site-navigation .sub-site-navigation
{
    position: absolute;
    z-index: 2;
    top: 40px;
    left: -8px;

    display: none;

    width: 150px;

    list-style: none;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.site-navigation a
{
    display: block;

    padding: 9px 13px;

    color: #fff;

    -webkit-text-decoration-color: rgba(250, 248, 248, .2);
            text-decoration-color: rgba(250, 248, 248, .2);
}

.site-navigation > li:hover .sub-site-navigation
{
    display: block;
}

.site-navigation .main:hover,
.user-navigation .main:hover,
.site-navigation .main:focus,
.user-navigation .main:focus
{
    cursor: pointer;
    text-decoration: none;

    color: #323232;
    border-radius: 50px;
    background-color: #f7f6f3;
}

.site-navigation .main:active,
.user-navigation .main:active
{
    cursor: pointer;
    text-decoration: none;

    color: #323232;
    border-radius: 50px;
    background-color: #f7f6f3;
    -webkit-box-shadow: inset 0 2px 1px #696969;
            box-shadow: inset 0 2px 1px #696969;
}

.open a
{
    cursor: pointer;
    text-decoration: none;

    color: #323232;
    border-radius: 50px;
    background-color: #f7f6f3;
}

.current
{
    color: #fff;
    border-radius: 55px;
    background-color: #d07058;
}

.current a
{
    text-decoration: none;
}

.sub-site-navigation:before
{
    position: absolute;
    top: -4px;
    left: 0;

    width: 150px;
    height: 4px;

    content: '';

    opacity: 0;
    background-color: #849d8f;
    background-repeat: no-repeat;
}

.sub-site-navigation
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.sub-site-navigation .sub-site-navigation-item
{
    border: none;
}

.sub-site-navigation a
{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
    text-decoration: none;

    color: #323232;
}

.new-items a
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.new-items::after
{
    position: absolute;
    bottom: 145px;
    left: 10px;

    width: 128px;
    height: 1px;

    content: '';

    background-image: url('../img/line.svg');
    background-repeat: no-repeat;
}

.sub-site-navigation li:hover,
.sub-site-navigation li:focus
{
    color: #323232;
    background-color: #fbded7;
}

.sub-site-navigation li:first-child:hover,
.sub-site-navigation li:first-child:focus
{
    color: #323232;
    border-radius: 5px 5px 0 0;
    background-color: #fbded7;
}

.sub-site-navigation li:last-child:hover,
.sub-site-navigation li:last-child:focus
{
    color: #323232;
    border-radius: 0 0 5px 5px;
    background-color: #fbded7;
}

.sub-site-navigation li:active
{
    color: #323232;
    background-color: #f6b5a5;
}

.sub-site-navigation li:active
{
    color: #323232;
    background-color: #f6b5a5;
}

.sub-site-navigation li:first-child:active
{
    color: #323232;
    border-radius: 5px 5px 0 0;
    background-color: #f6b5a5;
}

.sub-site-navigation .sub-site-navigation-item-current a
{
    color: #fff;
    background-color: #d07058;
}

.inner-page .user-navigation
{
    width: 261px;
}

.user-navigation
{
    font: 0;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 245px;
    margin-top: 22px;
    padding-bottom: 3px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-navigation .login-link,
.user-navigation .busket-link
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-decoration: none;

    color: #fff;
    border: 0 solid #fff;
    background-color: rgba(247, 246, 243, .2);
}

.user-navigation li
{
    text-decoration: none;
}

.search a
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.button-search
{
    font: 0;

    display: inline-block;

    width: 33px;
    height: 33px;
    padding: 7px;

    vertical-align: center;

    border: none;
    border-radius: 50%;
    background-color: rgba(247, 246, 243, .2);
}

.button-search:hover,
.button-search:focus
{
    opacity: 1;
}

.button-search:hover path,
.button-search:focus path
{
    fill: #000;
}

.button-search:active
{
    color: #323232;
    background-color: #ededed;
}

.search:hover .modal-search
{
    display: block;
}

.modal-search
{
    position: absolute;
    z-index: 2;
    top: 38px;
    right: 210px;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.search-form input[type='text']
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 311px;
    height: 44px;
    padding: 10px 15px;

    color: #000;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #fff;
}

.search-form input[type='text']:hover,
.search-form input[type='text']:focus
{
    padding: 9px 14px;

    border: 2px solid rgba(154, 154, 154, .52);
}

.search-form input::-webkit-input-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.search-form input::-moz-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.search-form input:-ms-input-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.search-form input::-ms-input-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.search-form input::placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.login:hover .modal-login
{
    display: block;
}

.modal-login
{
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    z-index: 2;
    top: 38px;
    right: 110px;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 277px;
    padding-top: 20px;
    padding-right: 17px;
    padding-bottom: 25px;
    padding-left: 19px;

    color: #323232;
    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.login-form input
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 241px;
    height: 44px;
    margin-bottom: 20px;
    padding: 10px 15px;
    padding-right: 40px;

    color: #000;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #fff;
}

.login-form input:hover,
.login-form input:focus
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 9px 14px;
    padding-right: 39px;

    border: 2px solid rgba(154, 154, 154, .52);
}

.login-form input::-webkit-input-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.login-form input::-moz-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.login-form input:-ms-input-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.login-form input::-ms-input-placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.login-form input::placeholder
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.login-form .login-help
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 110px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.login-help a
{
    margin: 0;
    padding: 0;

    text-decoration: underline;

    color: #323232;
}

.restore:hover,
.restore:focus
{
    text-decoration: none;
}

.login-form .button
{
    position: absolute;
    bottom: 30px;
    left: 20px;

    width: 35%;
}

a.login-link
{
    position: relative;

    display: inline-block;

    width: 93px;
    height: 32px;
    padding: 8px 17px 9px 44px;

    border-radius: 25px;
}

.login-link svg
{
    position: absolute;
    top: 7px;
    left: 16px;

    margin-right: 7px;

    vertical-align: middle;
}

.login-link:hover path,
.login-link:focus path
{
    fill: #000;
}

.login-link:active path
{
    color: #323232;
    background-color: #ededed;
}

a.busket-link
{
    position: relative;

    display: inline-block;

    width: 100px;
    height: 32px;
    padding: 8px 17px 9px 44px;

    border-radius: 25px;
}

.busket-link svg
{
    position: absolute;
    top: 7px;
    left: 16px;

    margin-right: 8px;

    vertical-align: middle;
}

.busket-link:hover path,
.busket-link:focus path,
.busket-link:hover circle,
.busket-link:focus circle
{
    fill: #000;
}

.busket-link:active path,
.busket-link:active circle
{
    color: #323232;
    background-color: #ededed;
}

.user-navigation .full-busket-link
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-decoration: none;

    border-radius: 25px;
}

a.full-busket-link
{
    position: relative;

    display: inline-block;

    width: 117px;
    height: 32px;
    padding: 8px 17px 9px 44px;

    color: #323232;
    background-color: #f8f7f4;
}

.full-busket-link svg
{
    position: absolute;
    top: 7px;
    left: 16px;

    margin-right: 8px;

    vertical-align: middle;
}

.full-busket-link:hover::before,
.full-busket-link:focus::before,
.full-busket-link:active::before
{
    opacity: 1;
}

.modal-busket
{
    position: absolute;
    top: 38px;
    right: -1px;
    z-index: 2;
    display: none;
    width: 539px;
  
    padding-top: 20px;
    padding-right: 14px;
    padding-bottom: 19px;
    padding-left: 17px;

    border-radius: 5px;
    border: 1px solid #d3d3d2;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.full-busket:hover .modal-busket
{
    display: block;
}

.item-1 .button-delete-item
{
    position: absolute;
    top: 30px;
    left: 20px;

    width: 11px;
    height: 11px;
    padding: 0;

    border: none;
    background-color: #f8f7f4;
}

.item-2 .button-delete-item
{
    position: absolute;
    top: 84px;
    left: 20px;

    width: 11px;
    height: 11px;
    padding: 0;

    border: none;
    background-color: #f8f7f4;
}

.busket-content
{
    margin-bottom: 15px;
}

.busket-content tr
{
    display: block;
}

.busket-content td
{
    display: inline-block;

    vertical-align: top;
}

.item-img
{
    padding-right: 11px;
    padding-left: 20px;
}

.item-1 .item-img
{
    margin-top: -8px;
}

.item-2 .item-img
{
    margin-top: -9px;
}

.item-img img
{
    border-radius: 50%;
}

.item-name
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    width: 230px;
    margin-right: 32px;
}

.item-price
{
    margin-right: 29px;
    margin-left: -3px;

    color: #999;
}

.item-1
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    margin-bottom: 21px;
    padding-top: 6px;

    color: #323232;
}

.item-2
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    margin-bottom: 29px;
    padding-top: 2px;

    color: #323232;
}

.total
{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;

    margin-right: -20px;
    margin-bottom: 50px;

    text-align: right;

    color: #323232;
}

.total:before
{
    position: absolute;
    bottom: 115px;
    left: 16px;

    width: 540px;
    height: 1px;

    content: '';

    background-color: #cacac7;
}

.busket-button
{
    position: absolute;
    right: 15px;
    bottom: 25px;

    cursor: pointer;
}

.main-header-logo
{
    width: 154px;
    height: 64px;
    margin: 0;
    padding: 0;
}

.main-header-contacts
{
    position: absolute;
    top: 74px;
    right: 25px;

    text-align: right;
}

.worktime
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    margin-bottom: 2px;
}

.phonenumber
{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

    text-decoration: none;
}

.modal-categories-ice-cream
{
    list-style: none;
}

.specials
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.specials-wrapper
{
    width: 560px;
    margin: 0;
    margin-right: 26px;
    margin-bottom: 40px;
    padding: 0;
}

.specials-banner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 16px 20px 25px 20px;

    color: #fff;
    border-radius: 15px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.specials-1
{
    position: relative;

    background: rgba(165, 21, 54, .5);
    background-image: url('../img/index/bg-raspberry.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.specials-2
{
    position: relative;

    background-color: rgba(50, 28, 20, .5);
    background-image: url('../img/index/bg-chocolate.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.specials .specials-wrapper:nth-child(2n)
{
    margin-right: 0;
}

.specials-1 h3,
.specials-2 h3
{
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;

    margin: 0;
    padding: 0;
}

.specials-1 p,
.specials-2 p
{
    font-size: 18px;
    line-height: 22px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 88px;
    margin-left: 2px;
}

.button-specials-wrapper-1
{
    position: absolute;
    right: 21px;
    bottom: 24px;
}

.button-specials-wrapper-2
{
    position: absolute;
    right: 21px;
    bottom: 24px;
}

.catalog-hits
{
    margin: 0;
}

.catalog-hits-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 267px;
    flex-basis: 267px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.catalog-hits-item
{
    position: relative;

    width: 267px;
    margin: 0;
    margin-right: 26px;
    margin-bottom: 28px;
}

.catalog-hits-item h3
{
    margin: 7px 0 10px 0;
}

.catalog-hits-item a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    color: #fff;

    -webkit-text-decoration-color: rgba(250, 248, 248, .2);
            text-decoration-color: rgba(250, 248, 248, .2);
}

.catalog-hits-item:nth-child(4n+4)
{
    margin-right: 0;
}

.catalog-hits-item:hover::before
{
    position: absolute;
    top: -6px;
    left: -13px;

    width: 293px;
    height: 100%;

    content: '';

    opacity: 1;
    border-radius: 5px 5px 0 0;
    background-color: rgba(247, 246, 243, .3);
}

.wrapper
{
    position: absolute;
    bottom: -69px;
    left: -13px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;

    opacity: 0;
    border-radius: 0 0 5px 5px;
    background-color: rgba(247, 246, 243, .3);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.catalog-hits-item:hover .wrapper
{
    width: 293px;
    height: 75px;

    opacity: 1;
}

.button-quick-view
{
    bottom: -15px;
    left: 40px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;

    border-radius: 22px;
}

.catalog-hits-item:hover .button-quick-view
{
    display: block;

    margin: 10px 0 10px 0;

    opacity: 1;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.catalog-hits-item .catalog-hits-name
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    display: inline-block;

    margin: 0;
    padding-right: 5px;
    padding-left: 5px;

    text-align: center;
    text-transform: none;

    color: #fff;
}

.catalog-hits-item-image img
{
    position: relative;

    border-radius: 50%;
}

.catalog-hits-item-price
{
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    position: absolute;
    top: 208px;
    left: 0;

    margin: 0;

    color: #fff;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.catalog-hits-item-price span
{
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;

    margin: 0;
    padding: 0;

    text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.catalog-hits-item::after
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 4px;

    width: 61px;
    height: 61px;

    content: '';

    background-image: url('../img/index/hit.svg');
    background-repeat: no-repeat;
}

.features
{
    display: flex;
        flex-direction: column;

    margin-bottom: 40px;
    padding: 25px 20px 0 22px;

    color: #323232;
    border-radius: 15px;
    background-color: rgba(240, 230, 209, .8);
    background-image: url('../img/index/bg-waffle.png');
    background-repeat: repeat;
    background-position: top center;
    background-position: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.features b
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin-bottom: 5px;
}

.features-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.features-list .feature-item:nth-child(2n + 1)
{
    margin-right: 20px;
}

.features-list .feature-item
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    position: relative;

    width: 488px;
    margin-left: 55px;

    list-style: none;
}

.feature-item:nth-child(2n + 2) p
{
    margin-left: 7px;
}

.feature-item ::before
{
    position: absolute;
    top: 3px;
    left: -52px;

    width: 49px;
    height: 49px;

    content: '';
}

.feature-ice-cream p::before
{
    background-image: url('../img/index/ice-cream.svg');
    background-repeat: no-repeat;
}

.feature-cow p::before
{
    background-image: url('../img/index/cow.svg');
    background-repeat: no-repeat;
}

.feature-leave p::before
{
    background-image: url('../img/index/eco.svg');
    background-repeat: no-repeat;
}

.feature-temp p::before
{
    background-image: url('../img/index/thermometer.svg');
    background-repeat: no-repeat;
}

.features-list .feature-item:nth-child(n + 3)
{
    top: -10px;
}

.index-columns
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 39px;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.news
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    margin-right: 25px;
    padding: 21px 22px;

    list-style: none;

    color: #fff;
    border-radius: 15px;
    background-color: #fff;
    background-image: url('../img/index/bg-strawberry.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.news h3
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    margin: 0;

    color: #323232;
}

.news a
{
    font-size: 24px;
    line-height: 30px;

    display: inline-block;

    width: 285px;
    margin-top: 3px;
    margin-bottom: 62px;

    vertical-align: center;
    text-decoration: underline;
    text-transform: none;

    color: #323232;
}

.news a:hover,
.news a:focus,
.news a:active
{
    color: #e84d37;
}

.subscription
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    height: 220px;
    padding: 25px 22px;

    color: #5a5a5a;
    border: 6px solid #f8f7f4;
    border-radius: 15px;
    border-image-source: url('../img/index/bg-post.svg');
    border-image-slice: 5;
    background-color: #f8f7f4;
}

.subscription-info-text
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin: 0;
    margin-bottom: 36px;
}

.subscription input
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 365px;
    height: 44px;
    margin-bottom: 5px;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 12px;
    
    color: #000;
    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
    background-color: #fff;
}

.subscription-form input::-webkit-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.subscription-form input::-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.subscription-form input:-ms-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.subscription-form input::-ms-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.subscription-form input::placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.subscription input:hover,
.subscription input:focus
{
    border: 2px solid rgba(154, 154, 154, .52);
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 11px;
}

.button-subscription
{
    position: absolute;
    right: 20px;
    bottom: 38px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 129px;
    height: 44px;
    padding: 11px 25px 10px 16px;
}

.login-icon-user
{
    margin-top: 20px;
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: 25px;
}

.map
{
    width: 1200px;
    margin-left: -25px;
}

.map img
{
    position: relative;

    max-width: 1200px;
}

.map-image-wrap
{
    position: absolute;
    bottom: 74px;
    left: 2px;
}

.map::before
{
    position: absolute;
    z-index: 1;
    bottom: 180px;
    left: 255px;

    width: 218px;
    height: 142px;

    content: '';

    opacity: 1;
    background-image: url('../img/index/pin.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.map iframe
{
    position: relative;
    z-index: 1;

    width: 100%;
    height: 428px;
    margin-bottom: 10px;

    border: none;
}

.contacts
{
    position: absolute;
    z-index: 3;
    right: 26px;
    bottom: 141px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 302px;
    height: 305px;
    padding: 29px 26px;

    color: #323232;
    border-radius: 15px;
    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contacts .contacts-phone,
.contacts .contacts-address
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    color: #323232;
}

.contacts span.contacts-address
{
    max-width: 250px;
    margin-bottom: 18px;
}

.contacts a.contacts-phone
{
    margin: 4px 0;

    text-decoration: none;
}

.contacts p.contacts-text
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;
    padding: 0;
}

.contacts p:first-of-type
{
    width: 150px;
    margin-bottom: 0;
}

.contacts p:last-of-type
{
    margin-bottom: 68px;
}

.button-contacts
{
    position: absolute;
    right: 24px;
    bottom: 30px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 252px;
}

/*СТРАНИЦА КАТАЛОГА*/

.page-title
{
    font-size: 35px;
    line-height: 41px;

    margin-top: 4px;
    margin-bottom: 27px;
}

.breadcrumbs
{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-top: 20px;
    margin-left: 3px;
    padding: 0;

    list-style: none;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.breadcrumbs li:not(:last-child)
{
    position: relative;

    margin-right: 20px;
}

.breadcrumbs a
{
    color: #fff;

    -webkit-text-decoration-color: rgba(250, 248, 248, .2);
            text-decoration-color: rgba(250, 248, 248, .2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active
{
    color: #ffbc9e;

    -webkit-text-decoration-color: rgba(255, 188, 158, .2);
            text-decoration-color: rgba(255, 188, 158, .2);
}

.breadcrumbs-item-current a,
.breadcrumbs-item-current a:hover,
.breadcrumbs-item-current a:focus,
.breadcrumbs-item-current a:active
{
    color: #fff;
    border-bottom: none;
}

.breadcrumbs li:not(:last-child)::before
{
    position: absolute;
    right: -15px;
    bottom: 0;

    content: '»';

    color: #fff;
}

/*ФИЛЬТР*/

.filter
{
    font-size: 0;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;

    color: #fff;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filter form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 28px;
    padding-left: 2px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.filter fieldset
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    margin: 0 13px 13px 0;
    padding: 0;

    vertical-align: top;

    color: #fff;
    border: none;
    border: none;
}

.customize-form
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .2);

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.filter legend
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    margin-bottom: 6px;
    margin-left: 16px;

    color: #fff;
}

.sort-selection
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    width: 192px;
    height: 37px;
    padding-bottom: 1px;
    padding-left: 15px;

    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
    background-image: url('../img/catalog/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: 170px center;
}

.sort-selection option
{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    text-indent: 13px;

    color: #323232;
}

select.sort-selection::-ms-expand
{
    display: none;
}

.filter select.sort-selection:hover,
.filter select.sort-selection:focus,
.filter select.sort-selection:active
{
    cursor: pointer;

    color: #323232;
    background-color: rgba(255, 255, 255, .2);
}

.sort-selection:focus
{
    color: #323232;
    background-color: #fff;
    background-image: url('../img/catalog/icon-down-dir.svg');
}

.filter-price .customize-form
{
    position: absolute;
}

.filter-price
{
    width: 220px;
}

.range
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 176px;
    height: 4px;
    margin-top: 16px;
    margin-right: 18px;
    margin-left: 22px;

    border-radius: 3px;
    background-color: #d1d9d3;
}

.filter-price .customize-form
{
    height: 37px;
}

.range-runner
{
    position: absolute;

    width: 16px;
    height: 16px;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #9aaea3;
    -webkit-box-shadow: inset 0 0 0 5.6px #fff;
            box-shadow: inset 0 0 0 5.6px #fff;
}

.range-runner-left
{
    top: -9px;
    left: 16px;

    cursor: pointer;
}

.range-runner-right
{
    top: -9px;
    right: 45px;

    cursor: pointer;
}

.visually-hidden
{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}

.filter ul
{
    line-height: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.fatness ul
{
    width: 421px;
}

.fatness-label label
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    position: relative;

    display: block;

    padding: 9px 0 9px 50px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    opacity: .8;
    color: #fff;
}

.last-label
{
    padding-right: 10px;
}

.filter-input-radio + label::before
{
    position: absolute;
    top: 6px;
    left: 18px;

    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;

    content: '';

    opacity: .8;
    border: 3.5px solid #fff;
    border-radius: 50%;
}

.filter-input:disabled + label
{
    opacity: .5;
}

.filter-input-radio:checked + label::after
{
    position: absolute;
    top: 13px;
    left: 24px;

    width: 8px;
    height: 8px;

    content: '';

    opacity: .8;
    border-radius: 60%;
    background-color: #fff;
}

.fatness-label label:hover::before,
.fatness-label label:hover::after
{
    opacity: 1;
}

.filler legend
{
    margin-left: 12px;
}

.filler ul
{
    width: 703px;
}

.filler-option
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: block;

    padding: 9px 9px 9px 45px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #fff;
}

.last-filler-option
{
    padding-right: 8px;
}

.filler-option label
{
    position: relative;
}

.filler-input-checkbox + label::before
{
    position: absolute;
    top: 2px;
    left: -31px;

    width: 15px;
    height: 15px;

    content: '';

    opacity: .8;
    border: 2px solid #fff;
    border-radius: 15%;
}

.filler-input-checkbox:checked + label::after
{
    position: absolute;
    top: -1px;
    left: -24px;

    width: 6px;
    height: 15px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-right: 3px solid rgba(248, 247, 244, 1);
    border-bottom: 3px solid rgba(248, 247, 244, 1);
}

.filler-option label:hover::before,
.filler-option label:hover::after
{
    opacity: 1;
}

.filter-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    width: 144px;
    height: 35px;
    margin-top: 23px;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    background: rgba(255, 255, 255, .2);
}

.filter-button:hover,
.filter-button:focus
{
    color: #323232;
    background-color: #fff;
}

.filter-button:active
{
    color: #323232;
    background-color: #ededed;
    -webkit-box-shadow: inset 0 2px 1px #696969;
            box-shadow: inset 0 2px 1px #696969;
}

/*КАТАЛОГ*/

.catalog
{
    margin: 0;
    padding: 0;
}

.catalog-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-preferred-size: 267px;
    flex-basis: 267px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.catalog-item
{
    position: relative;

    width: 267px;
    margin: 0;
    margin-right: 26px;
    margin-bottom: 28px;
}

.catalog-item h3
{
    margin: 7px 0 10px 0;
}

.catalog-item a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    color: #fff;

    -webkit-text-decoration-color: rgba(250, 248, 248, .2);
            text-decoration-color: rgba(250, 248, 248, .2);
}

.catalog-item:nth-child(4n+4)
{
    margin-right: 0;
}

.catalog-item:hover::before
{
    position: absolute;
    top: -6px;
    left: -13px;

    width: 293px;
    height: 100%;

    content: '';

    opacity: 1;
    border-radius: 5px 5px 0 0;
    background-color: rgba(247, 246, 243, .3);
}

.button-wrap
{
    position: absolute;
    bottom: -69px;
    left: -13px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;

    opacity: 0;
    border-radius: 0 0 5px 5px;
    background-color: rgba(247, 246, 243, .3);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.catalog-item:hover .button-wrap
{
    z-index: 1;

    width: 293px;
    height: 75px;

    opacity: 1;
}

.catalog-item:hover .button-quick-view
{
    display: block;

    margin: 10px 0 15px 0;

    opacity: 1;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.catalog-item-name
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    display: block;

    margin: 0;
    padding-right: 5px;
    padding-left: 5px;

    text-align: center;
    text-transform: none;

    color: #fff;
}

.catalog-item-image img
{
    position: relative;

    border-radius: 50%;
}

.catalog-item-price
{
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    position: absolute;
    top: 165px;
    left: 0;

    color: #fff;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.catalog-item-price span
{
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;

    margin: 0;
    padding: 0;

    text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.pagination-list
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 42px -5px 12px 0;
    padding: 0 0 30px 0;

    list-style: none;

    border-bottom: 1px solid rgba(247, 246, 243, .5);

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.pagination-list a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    padding: 4px 8px;
    margin: 0 2px 0 2px;

    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border-radius: 50%;
    background-color: transparent;
}

.pagination-item-next a:hover path,
.pagination-item-next a:focus path,
.pagination-item-next a:active path
{
    fill: #fff;
}

.pagination-item.pagination-item-next
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.pagination-item.pagination-item-back:hover,
.pagination-item.pagination-item-next:hover,
.pagination-item.pagination-item-back:focus,
.pagination-item.pagination-item-next:focus
{
    font-size: 0;
    line-height: 0;

    color: transparent;
    background-color: transparent;

    fill: #fff;
}

.pagination-item.pagination-item-back:active a,
.pagination-item.pagination-item-next:active a
{
    background-color: transparent;

    fill: #fff;
}

.pagination-item.pagination-item-disabled,
.pagination-item.pagination-item-disabled:hover,
.pagination-item.pagination-item-disabled:focus,
.pagination-item.pagination-item-disabled:active
{
    background-color: transparent;
}

.pagination-item-back a,
.pagination-item-next a
{
    font-size: 0;
    line-height: 0;

    padding-top: 7px;

    color: transparent;
}

.pagination-item:hover,
.pagination-item:focus
{
    color: #323232;
    border-radius: 15px;
    background-color: rgba(247, 246, 243, .3);
}

.pagination-item:active a
{
    color: #323232;
    background-color: #fff;
}

.pagination-item-current a,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    color: #323232;
    background-color: #fff;
}

/*ФУТЕР*/

.main-footer
{
    color: #fff;
}

.main-footer .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-social
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 190px;
}

.footer-social ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-top: 0;
    margin-left: 3px;
    padding: 0;
    padding-top: 23px;
    padding-left: 1px;

    list-style: none;

    text-align: center;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.inner-page .footer-social ul{
    margin-left: 0px;
}

.social-button svg
{
    width: 32px;
    height: 32px;

    opacity: .8;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}

.social-button svg:hover,
.social-button svg:focus
{
    opacity: 1;
}

.social-button:active path
{
    fill: #e9e9e9;
}

.footer-social li:not(:last-child)
{
    margin-right: 11px;
}

.social-button:hover,
.social-button:focus
{
    opacity: 1;
}

.footer-info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 340px;
    max-height: 45px;
    margin: 20px 0px 0 7px;
    padding: 0;

    list-style: none;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer-info .footer-info-item
{
    display: inline-block;

    margin-right: 15px;
    padding-bottom: 3px;
    padding-left: 17px;
}

.footer-info a
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(247, 246, 243, .5);
}

.footer-info-item:last-child a
{
    margin-left: 12px;
}

.footer-info-item a:hover,
.footer-info-item a:focus,
.footer-info-item a:active
{
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, .5);
}

.footer-info-item:first-child a
{
    font-weight: 700;
}

.footer-info-item:first-child
{
    position: relative;
}

.footer-info-item:first-child::before
{
    position: absolute;
    top: -3px;
    left: 15px;

    width: 15px;
    height: 13px;
    margin-top: 7px;
    margin-left: -20px;

    content: '';

    opacity: 1;
    background-image: url('../img/heart.svg');
    background-repeat: no-repeat;
}

.footer-copyright
{
    box-sizing: border-box;
    width: 190px;
    height: 59px;
    margin: 0;
    padding-top: 5px;
}

.footer-copyright img{
    padding-left: 4px;
}

.inner-page .footer-copyright img{
    padding-left: 0px;
}

.footer-copyright a
{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer-copyright-info
{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    border-bottom: 1px solid rgba(247, 246, 243, .5);
}

.footer-copyright b
{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    display: block;
}

.footer-copyright-info:hover,
.footer-copyright-info:focus,
.footer-copyright-info:active
{
    color: #ffbc9e;
}

/* МОДАЛЬНЫЕ ОКНА */

@-webkit-keyframes popup
{
    0%
    {
        -webkit-transform: scale(.1);
                transform: scale(.1);
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes popup
{
    0%
    {
        -webkit-transform: scale(.1);
                transform: scale(.1);
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes shake
{
    0%,
    100%
    {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(10px);
    }
}

@-webkit-keyframes shake
{
    0%,
    100%
    {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(10px);
    }
}

.modal
{
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

    position: fixed;
    z-index: 5;

    display: none;

    color: #323232;
    border-radius: 10px;
    background-color: #f8f7f4;
    background-repeat: repeat;
    background-position: 0 0;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.modal-content-show
{
    display: block;
}

.show-animation
{
    -webkit-animation: popup .5s;
            animation: popup .5s;
}

.modal-error
{
    animation: shake .6s;
}

.modal-overlay
{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
}

.modal-overlay-show
{
    display: block;
}

.modal-feedback
{
    position: fixed;
    top: 50%;
    left: 50%;
    
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 478px;
    margin-top: -230px;
    margin-left: -240px;
    padding-top: 20px;
    padding-right: 26px;
    padding-bottom: 90px;
    padding-left: 24px;

    border: 1px solid #d3d3d2;
}

.modal-close
{
    position: absolute;
    top: 16px;
    right: 17px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;

    border: none;
    background-color: #f8f7f4;
}

.feedback-form form{
    display: block;
}

.feedback-form h3
{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    margin: 0;
    margin-bottom: 24px;

    color: #323232;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.feedback-form input[type='text']:-ms-input-placeholder,
.feedback-form input[type='email']:-ms-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    color: #999;
    width: 267px;
    height: 44px;
}

.feedback-form textarea:-ms-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #999;
}

.feedback-form input[type='text'],
.feedback-form input[type='email']
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 44px;
    width: 267px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 12px;

    color: #323232;
    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
    background-color: #fff;
}

.feedback-form textarea
{   font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 428px;
    height: 155px;
    padding-top: 10px;
    padding-left: 12px;

    color: #323232;
    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
    background-color: #fff;
}

.feedback-form input[type='text']:hover,
.feedback-form input[type='text']:focus,
.feedback-form input[type='email']:hover,
.feedback-form input[type='email']:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus
{
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 11px;

    border: 2px solid rgba(154, 154, 154, .52);
}

.feedback-form textarea:hover,
.feedback-form textarea:focus
{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
}

.feedback-form .button
{
    position: absolute;
    right: 25px;
    bottom: 27px;

    width: 35%;
}

